* {
    margin: 0px;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    background-color: darkblue;
}

figure {
    margin: 1rem; 
}

figcaption {
   text-align: center;
   background-color: sienna;
}

h1{
    color: white;
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}