* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

header {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemonGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body {
  background: linear-gradient(#0a087c 10%, #7093df 70%);
  background-repeat: repeat-x;
}

.scene {
    width: 200px;
    height: 260px;
    border: 3px solid yellow;
    perspective: 600px;
    margin: 30px;
  }

  .card {
    width: 100%;
    height: 100%;
    transition: transform 1000ms;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    background: linear-gradient(#8f8df0 10%, #330b61 70%);
  }

  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .card__face--front {
    color: white;
    text-align: center;
    font-size: xx-large
  }
  
  .card__face--back {
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: xx-large;
    transform: rotateY(180deg);
  }
  

  .card.is-flipped {
    transform: rotateY(180deg);
  }

  img {
    border: 3px solid yellow;
    margin: 5px;
  }

  p:first-letter {
    text-transform: capitalize;
  }

  p {
    font-family: fantasy;
  }