* {
    margin: 0;
    box-sizing: border-box;
}

.mainHeader {
    display: flex;
    justify-content: space-evenly;
    margin: .75rem;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


figure img {
    max-height: 12rem;
    margin: 10px;
    padding: 2px;
}

figcaption {
    text-align: center;
    color: white;
}

body {
    background-color: darkblue;
}

h1, footer {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

button {
    color: white;
    background-color: black;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    font-size: 1rem;
    box-shadow: gray 2px 2px 2px 3px;
}

button hover{
    color: blue;
    background-color: black;
}

.nav {
    padding: 25px;
    margin: 5px;
    display: flex;
    justify-content: center;
   
}

.navList {
    margin: 10px;
    padding: 10px;
}
